<style>
button {
	background-color: #2ECC71;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
input2 {
	background-color: #CB4335;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px
}
</style>
<video width="320" hight="240" controls></video>
<br>
<form action='actionurl'  method='GET'>
<button>activate</button>
</form>
<br>
<br>
<form>
<input type="button" name="deactivate" onclick="alert('Deactivate')" value="Deactivate">
</form>
<br>
<br>
<br>
<br>
